@font-face {
    font-family: Lobster;
    src: url(../font/Lobster_1.4.otf);
}

@font-face {
    font-family: Comics Sans MS;
    src: url(../font/comic-sans-ms.ttf);
}

div[class = fil_ariane]{
position:relative;
height:30px;
top: 50px;
text-align: center;
width:110%;
left:-15%;
}



.titre_recette{
width:95%;
left:5%;
}

.photos_principales{
float: left;
width:95%;
left:5%;
}

.photos_principales > img{

width:100%;
}

.temps_preparation , .categorie {
position:relative;
float:left;
width:95%;
margin:0 5% 5% 5%;
height:100%;
}

.div_indicateur{
float: left;
width: 33%;
display:table-cell;
}

.div_niveau, .div_budget{
float: left;
height: 40px;
width:150px;
left:5%;
}

.image_indicateur, .image_niveau, .image_budget{
position:relative;
float: left;
width:30px;
}

.semi_transparent{
    opacity: 0.2;
	filter: alpha(opacity=20);
}

.texte_indicateur{
position:relative;
float: left;
width:70%;
height: 40px;
font-size: 20px;
font-style: italic;
font-family: "Comics Sans MS";
}

.indicateur, .niveau, .budget{
width: 30px;
}

.action{
float:left;
width: 40px;
}

.materiel{
position:relative;
float:left;
width:95%;
margin:0 5% 5% 5%;
height:100%;
}

.colonne_materiel{
position:relative;
float: left;
width:33%;
}

.etapes_recette, .ingredients, .bonus_recette, .source_recette, .astuce_remarque_recette, .tags_recette{
position:relative;
float:left;
width:95%;
margin:0 5% 5% 5%;
}

.colonne_video{
position:relative;
float: left;
width:95%;
}


.video_recette{
width:100%;
}

.astuce_remarque_recette h3, .tags_recette h3{
font-size:24px;
line-height:1.3em;
font-family:"Comics Sans MS";
font-style: italic;
color:grey;
}


/*CSS photo principale*/

#slideshow {
	position: relative;
	width: 490px;
	height: 350px;
	padding: 20px;
	border: 1px solid #ddd;
	margin: 0 auto 2em;
	background: #FFF;
	background: -webkit-linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	background: -moz-linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	background: -ms-linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	background: -o-linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
	
	-webkit-border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
	
	-webkit-box-shadow: 0 0 3px rgba(0,0,0, 0.2);
	-moz-box-shadow: 0 0 3px rgba(0,0,0, 0.2);
	box-shadow: 0 0 3px rgba(0,0,0, 0.2);
}

/* avanced box-shadow : http://www.creativejuiz.fr/blog/les-tutoriels/ombre-avancees-avec-css3-et-box-shadow */
#slideshow:before,
#slideshow:after {
	position: absolute;
	display:block;
	bottom:16px;
	width: 50%;
	height: 20px;
	content: " ";
	background: rgba(0,0,0,0.1);
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
	-webkit-box-shadow: 0 0 3px rgba(0,0,0, 0.4), 0 20px 10px rgba(0,0,0, 0.7);
	-moz-box-shadow: 0 0 3px rgba(0,0,0, 0.4), 0 20px 10px rgba(0,0,0, 0.7);
	box-shadow: 0 0 3px rgba(0,0,0, 0.4), 0 20px 10px rgba(0,0,0, 0.7);
	
	z-index: -10;
}
#slideshow:before {
	left:0;
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
}
#slideshow:after {
	right:0;
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	-o-transform: rotate(4deg);
}


#slideshow .container {
	position:relative;
	width: 450px;
	height: 310px;
	overflow: hidden;
}


#slideshow .c_slider {
	position: absolute;
	left:0; top:0;
	width: 400%;
	height: 310px;
}


#slideshow figure {
	position:relative;
	padding:0; margin:0;
}

#slideshow figure:after {
	position: absolute;
	display:block;
	content: " ";
	top:0; left:0;
	width: 100%; height: 100%;
	-webkit-box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;
	-moz-box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;
	box-shadow: 0 0 65px rgba(0,0,0, 0.5) inset;

}

/* fin css photo principale */

/* Css lien photos supplémentaires */

.photo_link {
  display: inline-block;
  padding: 2px;
  margin: 0 0.5rem 1rem 0.5rem;
  background-color: #fff;
  line-height: 0;
  border-radius: 4px;
  transition: background-color 0.5s ease-out; }
  .photo_link:hover {
    background-color: #D98B44;
    transition: none; }

.photo {
  width: 15rem;
  border-radius: 4px; }

  /* Fin Css lien photos supplémentaires */
  
  /* CSS champ recherche */


#right:target {
  transform: translateX(0);
  opacity: 1;
}

.slider2{
  position: fixed;
  width: 280px;
  height:50px;
  padding: 20px;
  top: 120px;
  bottom: 0;
  opacity: 0;
  transition: all .6s ease;
  z-index: 1;
}


.slider--right {
  right: 500px;
  transform: translateX(200px);
}


input[type=search]{
    background: #fff;
	width:180px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	border:1px solid #ccc;
	height:27px;
	font-weight:bold;
	padding-left:10px;
	padding-right:10px;
	outline: 0 none;
}

input[id=button_search]{
cursor:pointer;
	border:0px solid #f7f7f7;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	width:30px;
	height:30px;
	color:#fff;
	background-color:#D98B44;
	-webkit-transition: all 0.125s ease-in;
	-moz-transition: all 0.125s ease-in;
	-o-transition: all 0.125s ease-in;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

input[id=button_search]:hover{
	opacity: 1;
	filter: alpha(opacity=100);
}
/* Fin CSS champ recherche */