@font-face {
    font-family: "Lobster";
    src: url(../font/Lobster_1.4.otf);
}

@font-face {
    font-family: "Acme";
    src: url(../font/Acme/Acme-Regular.ttf);
}

div[class = fil_ariane]{
position:relative;
height:30px;
/*text-align: center;*/
margin:0 20px 0px 20px;
}


.titre_recette{
	margin-top : 20px;
}

span[id=title]
{
	font-family: Lobster,Sans-Serif;
	font-size: 60px;
	color:#ffffff;
}

ul.astuces > li {
list-style: none;
margin-left: 20px;
}

th{
	font-weight: bolder;
	font-style: italic;
	font-size: 18px;
	text-decoration: underline;
}


a.lien_discret:link, a.lien_discret:active, a.lien_discret:visited{
	color:#AAAAAA;
}

a.lien_discret:hover{
	color:grey;
}

.tableau_materiel, .tableau_ingredient{
	width:100%;
}

.libelle_materiel, .libelle_ingredient{
	width:60%;
}

.quantite_materiel{
	width:40%;
}

.quantite_ingredient_lecture{
	width:40px;
}

.libelle_ingredient{
	width:350px;
}

.libelle_ingredient_modif{
	width:100px;
}
.favori{
width: 40px;
}


.ajout{
    position: relative;
	top: 10px;
	width: 30px;
	cursor: pointer;
	opacity: 0.5;
	filter: alpha(opacity=50);
	-webkit-transition: all 0.125s ease-in;
	-moz-transition: all 0.125s ease-in;
	-o-transition: all 0.125s ease-in;
}

.supprimer_petit{
    position: relative;
	right: 10px;
	top: 3px;
	width: 15px;
	cursor: pointer;
	opacity: 0.5;
	filter: alpha(opacity=50);
	-webkit-transition: all 0.125s ease-in;
	-moz-transition: all 0.125s ease-in;
	-o-transition: all 0.125s ease-in;
}

.ajout:hover, .supprimer_petit:hover{
	opacity: 1;
	filter: alpha(opacity=100);
}

.ajout_section_ingredient{
    position: relative;
	top: 5px;
	width: 30px;
	cursor: pointer;
	opacity: 0.5;
	filter: alpha(opacity=50);
	-webkit-transition: all 0.125s ease-in;
	-moz-transition: all 0.125s ease-in;
	-o-transition: all 0.125s ease-in;
}

.ajout_section_ingredient:hover{
	opacity: 1;
	filter: alpha(opacity=100);
}

#infoBulle {
	position: fixed;
	top: 2%;
	float: right;
	right: 2%;
	width: auto;
	height: auto;
	opacity: 0.7;
	filter: alpha(opacity=70);
	z-index:1000;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding: 10px;
	-webkit-transition: all 0.125s ease-in;
	-moz-transition: all 0.125s ease-in;
	-o-transition: all 0.125s ease-in;
}

.information {
	color: #00529B;
    background-color: #BDE5F8;
}

.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
}

.ordre{
	width: 15px;
	opacity: 0.5;
	filter: alpha(opacity=50);
	-webkit-transition: all 0.125s ease-in;
	-moz-transition: all 0.125s ease-in;
	-o-transition: all 0.125s ease-in;
}

.ordre:hover{
	opacity: 1;
	filter: alpha(opacity=100);
	cursor: pointer;
}



#tableau_recette{
	width: 1300px;
	display: grid;
	margin-left:auto;
	margin-right:auto;
}

#informations_recette{
    width: 350px;
	grid-column: 1;
    grid-row: 1;
	background-color:#ffffff;
}

#main_recette {
	width: 850px;
	margin-left:auto;
	margin-right:auto;
	grid-column: 2;
    grid-row: 1;
}

/*CSS photo principale*/



#slideshow .container  > img{

	width: 850px;
    height: auto;
}


#slideshow .container {
	width: 850px;
	height: auto;
	overflow: hidden;
	background-color:#f1f1f1;
}

#slideshow .materiel{
	width:350px;
	height: 335px;
	/*background-image:#DDDDDD;*/
	background-image:url("../images/ardoise.png");
	background-repeat:no-repeat;
	background-position:center center;
	color: white;
}

/* fin css photo principale */

.temps_preparation, .categorie, .materiel ,.ingredients, .bonus_recette, .source_recette, .astuce_remarque_recette, .tags_recette{
	margin: 20px 20px 20px 20px;
	border-top: 1px solid #BBBBBB;
}

.colonne_ingredients{
	margin: 20px 20px 20px 20px;
}

.categories  {
	position:relative;
	width:300px;
	margin:40px 40px 40px 40px;
	height:100%;
}

.div_indicateur{
	z-index:10;
}

#div_niveau_recette{
	margin: 20px 20px 20px 20px;
}

.div_niveau, .div_budget{
	height: 45px;
	width:200px;
	z-index:10;
}



.div_action{
	position:relative;
	height:40px;
	width:40%;
	margin:0 20px 0px 20px;
	z-index:10;
}


.titre_niveau, .titre_budget{
	text-align:center;
}

.image_niveau, .image_budget{
    position:relative;
	float: left;
	width: 25%;
    height: 16px;
    background-color: #eeeeee;
    display: inline-block;
	border-left: 1px solid white;
}

.img_niveau, .img_budget{
   width: 40px;
}

.image_niveau:first-child, .image_budget:first-child{
	border-radius: 10px 0px 0px 10px;
	border-left: 0px;
}

.image_niveau:last-child, .image_budget:last-child{
	border-radius: 0px 10px 10px 0px;
}

.niveau_1{
    background-color: #fdae1d;
}

.niveau_2{
    background-color: #fb9d1e;
}

.niveau_3{
    background-color: #f88e1e;
}

.niveau_4{
    background-color: #f86f1f;
}


#link img{
    opacity: 0.5;
	filter: alpha(opacity=50);
}

#link:hover img{
    opacity: 1;
	filter: alpha(opacity=100);
}

.semi_transparent{
    opacity: 0.2;
	filter: alpha(opacity=20);
}

.texte_indicateur{

}

.indicateur{
float:left;
width: 40px;
}

.niveau, .budget{
float:left;
width: 100%;
}

.action{
float:left;
width: 40px;
-webkit-transition: all 0.125s ease-in;
-moz-transition: all 0.125s ease-in;
-o-transition: all 0.125s ease-in;
}

.supprimer{
float:left;
position:relative;
top: 3px;
width: 35px;
-webkit-transition: all 0.125s ease-in;
-moz-transition: all 0.125s ease-in;
-o-transition: all 0.125s ease-in;
}

.lien_recette{
top: 3px;
width: 20px;
-webkit-transition: all 0.125s ease-in;
-moz-transition: all 0.125s ease-in;
-o-transition: all 0.125s ease-in;
opacity:0.5;
}




.nouvelle_recette{
width: 100px;
}

.font_bold{
    font-weight: bolder;
    font-size: 25px;
}

.colonne_materiel{

}

.border_left{
	border-left: 1px solid grey;
}

tr[class=border_left] > td {
	padding-left:4px
}

#sousEtapes{
	width:100%;
	grid-column: 1 /span 2;
}

/*.sousEtape{
	top:20px;
	left:50px;
}*/


/*#entete_recette{
width:1000px;
display: grid;
grid-template-columns: auto auto auto;
grid-gap: 20px;
}*/

.colonne_video{
position:relative;
float: left;
width:45%;
}

.video_recette{
width:95%;
}

.astuce_remarque_recette h3, .tags_recette h3{
font-size:24px;
line-height:1.3em;
font-family:"Acme";
font-style: italic;
color:grey;
}

.nbPersonnes{
	font-size: 17px;
}


/* Css lien photos supplémentaires */

.photo_link {
  display: inline-block;
  padding: 2px;
  margin: 0 0.5rem 1rem 0.5rem;
  background-color: #fff;
  line-height: 0;
  border-radius: 4px;
  transition: background-color 0.5s ease-out; }
  .photo_link:hover {
    background-color: #D98B44;
    transition: none; }

.photo {
  width: 15rem;
  border-radius: 4px; }

/* Fin css Photos supplémentaires */  
  
  
/* CSS champ recherche */


#right:target {
  transform: translateX(0);
  opacity: 1;
}

.slider2{
  position: fixed;
  width: 280px;
  height:50px;
  padding: 20px;
  top: 60px;
  bottom: 0;
  opacity: 0;
  transition: all .6s ease;
  z-index: 1;
}


.slider--right {
  right: 0;
  transform: translateX(200px);
}

div[id=entete_sous_categorie]{
	height: 210px;
	overflow:hidden;
}
div[id=sous_categorie]{
	position:relative;	
	float:left;
	width: 200px;
	height: 250px;
	margin: 40px;
	border: 0px solid;
	text-align:center;
	background-color: #ffffff;
}

section[id=sous_categorie]{
	margin-left: 40px;
}


div[id=sous_categorie] > div[id=titre_sous_categorie]
{
	height: 40px;
	padding: 5px 0px 5px 0px;
	font-family: Acme;
	font-size: 20px;
}

div[id=sous_categorie]  > div > img { 
-webkit-transition: all 0.5s ease-in;
-moz-transition: all 0.5s ease-in;
-o-transition: all 0.5s ease-in;
}

div[id=sous_categorie]:hover  > div > img { 
-webkit-transform:scale(1.10); /* Safari et Chrome */
-moz-transform:scale(1.10); /* Firefox */
-ms-transform:scale(1.10); /* Internet Explorer 9 */
-o-transform:scale(1.10); /* Opera */
transform:scale(1.10);
-webkit-transition: all 0.5s ease-in;
-moz-transition: all 0.5s ease-in;
-o-transition: all 0.5s ease-in;
}

section[id=recettes]{
	position:relative;	
	float:left;
	top: 100px;
	width: 90%;
	margin-left: 40px;
	margin-right: 40px;
}


div[id=recette]{
	width:1400px;
	height:160px;
	border: 1px solid #BBBBBB;
	color: black;
	background-color: #ffffff;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	grid-template-columns: 280px 980px;
    grid-template-rows: 160px;
}

div[id=recette]  > div > a > img { 
     -webkit-transition: all 1s ease; /* Safari et Chrome */
	-moz-transition: all 1s ease; /* Firefox */
	-ms-transition: all 1s ease; /* Internet Explorer 9 */
	-o-transition: all 1s ease; /* Opera */
	transition: all 1s ease;
	max-width:280px;
}

div[id=recette]  > div > a> img:hover{
-webkit-transform:scale(1.10); /* Safari et Chrome */
-moz-transform:scale(1.10); /* Firefox */
-ms-transform:scale(1.10); /* Internet Explorer 9 */
-o-transform:scale(1.10); /* Opera */
transform:scale(1.10);
}

div[id=image_recette]{
	grid-column: 1; 
	grid-row: 1;
	width: 260px;
	height:inherit;
	text-align: center;

	overflow:hidden;
}


div[id=image_recette] > a > img{
	height: inherit;
	padding-bottom: 1px;
}

div[id=contenu_recette]{
	grid-column: 2; 
	grid-row: 1;
	max-width: 80%;
	padding-left:30px; 	
	display: grid;
	grid-template-columns: 500px 300px;
    grid-template-rows: 50px 50px;
}

div[id=titre_recette]{
	grid-column: 1 /span 2; 
	grid-row: 1;
	width: 100%;
	height:40px;
	font-family: Acme;
	font-size: 22px;
}

div[id=indicateurs_recette]{
	grid-column: 1 /span 2; 
	grid-row: 1;
	width: 100%;
	height:50px;
	font-family: Acme;
	font-size: 22px;
}

div[id=indicateurs_recette_liste]{
	grid-column: 1 /span 2; 
	grid-row: 3;
	width: 100%;
	height:50px;
	font-family: Acme;
	font-size: 22px;
}

div[class=texte_indicateur_liste]{
    position: relative;
    float: left;
    height: 30px;
    font-size: 20px;
    font-style: italic;
    font-family: "Acme";
}

div[class=image_indicateur_liste]{
    position: relative;
    float: left;
    width: 40px;
}

div[id=niveaux_liste]{
    grid-column: 1; 
	grid-row: 2;
    width: 100%;
}

div[id=entete_ingredient]{
	position:relative;	
	float:left;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: transparent;
}


#nb_tests_recette{
	grid-column: 2; 
	grid-row: 2;
}

div[id=ingredient]{
	position:relative;	
	float:left;
	width: 202px;
	height: 52px;
	margin: 40px;
	border: 1px solid grey;
	text-align:center;
	color: black;
}


section[id=ingredient]{
	margin-left: 40px;
}

div[id=titre_ingredient]{ 
    position:relative;	
	float:left;
	width: 150px;
	height: 50px;
	padding-left:5px;
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
	background-color:#ffffff;
}

div[id=titre_ingredient]:hover{
    background-color: #607D8B;
}

div[id=ingredient]:hover{
    background-color: #607D8B;
	color: white;	
	box-shadow: 5px 7px 10px #999999;
}


div[class=etape_recette]{
	display: grid;
    grid-template-columns: 260px auto;
}


.div_niveau_liste, .div_budget_liste {
    position: relative;
    float: left;
    height: 45px;
    width: 200px;
    margin-right: 40px;
    z-index: 10;
}

.image_indicateur_liste{
    position: relative;
    float: left;
    width: 30px;
}

.favori_liste{
width: 30px;
}

/* css page accueil*/

div[id=accueil_recherche]{
	position:relative;	
	float:left;
	width: 100%;
	height:200px;
	padding-bottom: 40px;
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: transparent;
	/*top: 65px;*/
}


section[id=Accueil_recettes]{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

div[id=accueil_recette]{
	position:relative;	
	float:left;
	width:452px;
	height:600px;
	top:60px;
	border: 1px solid #BBBBBB;
	color: black;
	background-color: #ffffff;
	margin-bottom: 30px;
	margin-right: 30px;
	border-radius: 3px;
}


/*div[id=accueil_recette]:hover  > div > img { 
	background-color: white;
	opacity: 0.7;
}

div[id=accueil_recette]:hover{
    background-color: #607D8B;
	color: white;
	border: 1px solid black;
	box-shadow: 5px 7px 10px #999999;
}*/

.triangle{
	top:120px;
	left:30px;
	width:1px;
	height:1px;
	border:1px solid #fff;
	border-color: #fff transparent transparent transparent;
	border-width:15px;
	z-index:1;
}

.triangle_new{
	top:110px;
	left:30px;
	width:1px;
	height:1px;
	border:1px solid #f1f1f1;
	border-color: #f1f1f1 transparent transparent transparent;
	border-width:15px;
	z-index:1;
}

div[id=accueil_image_recette]> a{
	position:relative;	
	float:left;
	width: 450px;
	height:300px;
	overflow:hidden;
	margin-bottom:10px;
}


div[id=accueil_image_recette] > a > img{
	width: inherit;
	height:auto;
	padding-bottom: 1px;
	-webkit-transition: all 1s ease; /* Safari et Chrome */
	-moz-transition: all 1s ease; /* Firefox */
	-ms-transition: all 1s ease; /* Internet Explorer 9 */
	-o-transition: all 1s ease; /* Opera */
	transition: all 1s ease;
}

div[id=accueil_image_recette] > a > img:hover{
-webkit-transform:scale(1.10); /* Safari et Chrome */
-moz-transform:scale(1.10); /* Firefox */
-ms-transform:scale(1.10); /* Internet Explorer 9 */
-o-transform:scale(1.10); /* Opera */
transform:scale(1.10);
}

div[id=accueil_contenu_recette]{
	position:relative;	
	float:left;
	max-width: 100%;
	left:10px;
	display:grid;
	grid-template-columns: 330px 100px;
    grid-template-rows: 70px 100px;	
}

div[id=accueil_titre_recette]{
	position:relative;	
	float:left;
	width: 100%;
	height:120px;
	font-family: Acme;
	font-size: 28px;
	padding-bottom: 5px;
	left:20px;
	top:20px;
}


div[id=accueil_favori]{
	position:absolute;	
;
	left:410px;
}

div[id=accueil_recette_new]{
	position:relative;	
	float:left;
	width: 452px;
    height: 280px;
	top:60px;
	border: 1px solid #BBBBBB;
	color: black;
	background-color: #ffffff;
	padding-top: 10px;
	margin-bottom: 30px;
	margin-right: 30px;
}

/*div[id=accueil_recette_new]:hover{
    background-color: #607D8B;
	color: white;
	border: 1px solid black;
	box-shadow: 5px 7px 10px #999999;
}*/



div[id=accueil_contenu_recette_new]{
	position:relative;	
	float:left;
	width: 100%;
	 	
}

div[id=creation_recette]{
	left:20px;
	top:20px;
}

div[id=bouton_creation_recette]{
	width: 100%;
	height:40px;
	font-family: Acme;
	font-size: 22px;
	text-align:right;
	right:20px;
}

div[id=accueil_titre_recette_new]{
	top:-10px;
	position:relative;	
	float:left;
	width: 100%;
	height:120px;
	font-family: Acme;
	font-size: 28px;
	padding-bottom: 5px;
	border-bottom: 1px solid #f1f1f1;
	text-align:center;
}

.m_fond_recherche {
    left: 35%;
    top: -150px;
    height: 90px;
	width: 500px;
    overflow: hidden;
	-webkit-filter: blur(0px);
	-moz-filter: blur(0px);
	-o-filter: blur(0px);
	-ms-filter: blur(0px);
	filter: blur(0px);
}

.rad10 {
    border-radius: 10px;
    overflow: hidden;
}

input[id=accueil_input_recherche]{
	width:350px;
}

/* Fin css page accueil*/

/* CSS page de recherche */
section[id=recherche_formulaire_recettes]{
	position:relative;	
	width: 1200px;
	height:	Auto;
	margin-left: auto;
	margin-right: auto;
	border: 0px solid #000000;
}

div[id=recherche_recettes]{
	position:relative;	
	float:left;
	width:inherit;
	height:	inherit;
	top:60px;
	border: 1px solid #ffffff;
	padding-bottom: 40px;
	color: black;
	/*margin-bottom: 30px;*/
	margin-right: 30px;
}

div[id=recherche_type_ingredient]{
	position:relative;	
	float:left;
	width:150px;
	top:60px;
	border: 0px solid #000000;
	color: black;
	background-color: #ffffff;
	margin-bottom: 30px;
	margin-right: 30px;
}

div[id^=recherche_type_ingredient_entete]{
	text-align:center;
	cursor: pointer;
}

div[id^=recherche_type_ingredient_liste]{
	/*min-height:150px;*/
	display:none;
}

div[id=recherche_ingredient]{
	position:relative;	
	width:inherit;
	color: black;
	background-color: #EEEEEE;
}


/* Fin CSS page de recherche */



input[type=search]{
    background: #fff;
	width:180px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border:0px solid #ccc;
	height:27px;
	font-weight:bold;
	padding-left:10px;
	padding-right:10px;
	outline: 0 none;
}

input[id=button_search]{
cursor:pointer;
	border:0px solid #f7f7f7;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	width:30px;
	height:30px;
	color:#fff;
	background-color:#D98B44;
	-webkit-transition: all 0.125s ease-in;
	-moz-transition: all 0.125s ease-in;
	-o-transition: all 0.125s ease-in;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

input[id=button_search]:hover{
	opacity: 1;
	filter: alpha(opacity=100);
}
/* Fin CSS champ recherche */


input[type="text"]{
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 5px 20px;
  border: 0px solid #b7b7b7;
  -webkit-border-radius: 10px;
  border-radius: 5px;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(252,252,252,1);
  outline: none;
}

input[id="rec_titre"]{
	font: normal 16px/normal "lobster", Helvetica, sans-serif;
	width: 600px;
}

input[id="rec_nb_convives"]{
	width: 15px;
}

input[id="rec_lien_source"]{
	width: 260px;
}

input[id="rec_tps_prepa"], input[id="rec_tps_cuisson"], input[id="rec_tps_repos"]{
	width: 15px;
}

input[id^="rma_quantite"]{
	width: 15px;
}

input[id^="rin_qte-"], input[id^="rec_id_lien_coeff-"]{
	width: 45px;
}

input[id^="champ4-"], input[id="Nchamp4"]{
	width: 30px;
}

select{
    display: inline-block;
    cursor: pointer;
    padding: 5px 15px;
    outline: 0;
    border: 0px solid #b7b7b7;
    border-radius: 5px;
    background: #f1f1f1;
    color: $color--dark-grey;
	-webkit-transition: all 0.125s ease-in;
	-moz-transition: all 0.125s ease-in;
	-o-transition: all 0.125s ease-in;
}

select:focus{
    border-radius: 5px 5px 0 0;
	-webkit-transition: all 0.125s ease-in;
	-moz-transition: all 0.125s ease-in;
	-o-transition: all 0.125s ease-in;
}

.grey{
	color: #CCCCCC;
}

tr[class^="ligne_ingredient-"]{
	height: 40px;
}

tr[id^="ligne_materiel-"]{
	height: 28px;
}



/* Page recherche */
div[id=titre_recherche]{
	position:relative;	
	float:left;
	width: 100%;
	top:50px; 	
}

div[id=categorie], div[id=theme], div[id=titre], div[id=tag], div[id=niveau], div[id=budget], div[id=evenement]{
	width: 235px;	
	position:relative;	
	float:left;
	margin-right: 20px;
}

div[id=favori]{
	width: 95px;	
	position:relative;	
	float:left;
	margin-right: 20px;
}

div[id=sousCategorie]{
	width: 200px;
	position:relative;	
	float:left;
	margin-right: 20px;
}

div[class=titre_champ_recherche]{
	width: inherit;
	position:relative;	
	float:left;
	/*background-color: #e0e4e7;*/
	color: #3E4156;
}

div[class=champ_recherche_ingredient]{
	  display: grid;
	  grid-template-columns: repeat(6, 2fr);
	  grid-gap: 10px;
}

div[id=type_ingredient]{
	position:relative;	
	float:left;	
	margin-left: auto;
	margin-right: auto;
}
/* Fin page recherche */


/* CSS parametrage */

section[id=parametrage]{
	width: 250px;	
	margin-left: auto;
	margin-right: auto;
}

section[id=type_ingredient]{
	width: 700px;	
	margin-left: auto;
	margin-right: auto;
}

section[id=couts]{
	width: 700px;	
	margin-left: auto;
	margin-right: auto;
}

/* Fin CSS parametrage */


.ajout_realisation,.enlever_realisation{
	width: 12px;
	cursor: pointer;
}

span[id=rec_nb_realisations]{
	font-size: 20px;
}


